@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); /* Importa a fonte Quicksand do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

* {
    --primary-color: #c0ea06; 
    --secondary-color: #e8eaed;
    --tertiary-color: #0664c1; 
    --bg-color: #1e7ac0; 
}

body {
    margin: 0;
    /* Set a fallback color and then the background image */
    background-color: var(--bg-color);
    background-image: url('images/background.jpg');
    background-size: cover; /* Make image cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the background fixed on scroll */
    color: var(--secondary-color);
    font-family: "Quicksand", sans-serif;
}

header {
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 1rem;
    flex-direction: column;
    font-family: "Tourney", sans-serif;
}

header h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    /* Add a multi-layered text shadow to create the neon glow effect */
    text-shadow: 0 0 5px rgba(232, 234, 237, 0.5), 0 0 10px var(--primary-color), 0 0 15px var(--primary-color);
}

div input {
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--tertiary-color);
    background: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--secondary-color);
    text-align: center;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

div input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div input:focus {
    outline: none;
    border-color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

#search-button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 1px solid var(--bg-color);
}

#search-button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#search-button:active {
    transform: scale(0.98);
}

main {
    overflow-y: scroll;
    padding-top: 2rem;
    height: calc(100vh - 15rem - 4rem);
}

article {
    background: none;
    border-radius: 0;
    padding: 0;
    padding: 0 1rem;
    margin-bottom: 1.25rem;
    box-shadow: none;
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1.5rem;
}

article:hover {
    transform: scale(1.01);
    cursor: pointer;
}

article h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0.25rem;
    color: var(--primary-color);
}

article p {
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

article p strong {
    color: var(--tertiary-color);
    font-weight: 400;
}

article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 200;
}

article a:hover {
    text-decoration: underline;
}

.article-content {
    flex: 1;
}

.article-image-container {
    flex-basis: 250px;
    flex-shrink: 0;
}

.article-image-container img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--tertiary-color);
    background-color: black;
    padding: 10px 20px;
    border-top: 1px solid #3c4043;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
}

.footer-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links li:first-child {
    position: absolute;
    left: 1rem;
}

.footer-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    div input {
        width: 90vw;
        font-size: 1.2rem;
    }

    main {
        padding: 0 1rem;
    }

    article:hover {
        transform: none;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1rem;
        max-width: 70%;
        word-wrap: break-word;
    }

    div input,
    div input::placeholder {
        font-size: 1rem;
    }

    article h2 {
        font-size: 1.3rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer {
        display: none;
    }

    button {
        margin-top: 1rem;
    }
}